# cargo cicd {{ noun_name }}

{{ noun_about }}

## Commands

{% for verb in verbs %}
### cargo cicd {{ noun_name }} {{ verb.name }}

{{ verb.about }}

```bash
cargo cicd {{ noun_name }} {{ verb.name }}
```

{% endfor %}
